/* ---- GLOBAL VARIABLES ----  */

/* colour selection:
  black, white, grey
  + 1 base colour - orange (associates with creativity, joy & success - good match for interior design) */
:root {
  --primary-orange: #e95420;
  --secondary-bg-colour: #f7f7f7;
  --transition-duration: 0.3s;
}

/*---- GLOBAL STYLES ---- */

/* Roboto: clean, functional, elegant - just like our designs */
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  /*needed for positioning a relative CTA*/
  position: relative;
}

/* ---- COMMON ----  */

h1 {
  margin: 60px auto;
  text-align: center;
  font-size: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* buttons */

.btn {
  border-radius: 30px;
}

/* horisontal line below H1 */
h1:after {
  display: block;
  height: 2px;
  background-color: var(--primary-orange);
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* ---- HEADER ----  */

.nav a:link,
.nav a:visited {
  border-bottom: 2px solid transparent;
  transition: all var(--transition-duration) ease-in-out;
  text-transform: uppercase;
}

/* coloured underlining navbar item on hover */
.nav a:hover,
.nav a:active {
  border-bottom: 2px solid var(--primary-orange);
}

/* when hover over nav items on narrow screen,
keep coloured underlining limited to width of the text */
@media (max-width: 768px) {
  .navbar-nav {
    align-items: flex-start;
  }
}

header {
  background-image: url("../images/landing-background-2.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
}

.btn-holder {
  position: absolute;
  top: 15rem;
  left: 7%;
}

/* ---- SERVICES ----  */

.service-header {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.service-tile i {
  display: block;
  font-size: 300%;
  margin: 30px 0;
  text-align: center;
}

.service-description {
  text-align: justify;
}

/* center for extra small devices to avoid large gaps */
@media (max-width: 360px) {
  .service-description {
    text-align: center;
  }
}

/* ---- PROJECTS ----  */

.section-projects {
  padding-top: 10px;
  background-color: var(--secondary-bg-colour);
}

.project-tile {
  width: 100%;
  padding: 3px;
  position: relative;
}

/* collapse and hide overlay on hover */
.project-tile:hover .overlay {
  height: 0;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-tile img {
  width: 100%;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ---- TESTIMONIALS ----  */

.section-testimonials {
  padding-top: 10px;
  padding-left: 2%;
  background-image:
      /* reduce contrast of background */ linear-gradient(
      rgba(225, 225, 225, 0.4),
      rgba(225, 225, 225, 0.4)
    ),
    url("../images/testimoials-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-testimonials h1 {
  margin-bottom: 1rem;
}

.testimonial-plate {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* vertical bar on the left of testimonial */
blockquote {
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}

/* quote mark before testimonial text*/
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* increase contrast with background behind quote text on mobile */
@media (max-width: 768px) {
  .testimonial-plate {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.customer {
  vertical-align: middle;
  text-align: center;
}

.testimonial-plate img {
  border-radius: 50%; /* rounded photo */
  height: 3rem;
  margin-right: 0.5rem;
}

/* ---- CONTACTS ----  */

.section-contacts {
  padding-top: 60px;
  background-color: var(--secondary-bg-colour);
}

.section-contacts h1 {
  margin-top: 0;
}

.contact-tile h2 {
  text-transform: uppercase;
}

.contact-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  margin-bottom: 50px;
  line-height: 1.7rem;
  text-align: left;
}

.contact-tile img {
  width: 100%;
  height: auto;
}

.contact-tile a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--primary-orange);
  border-bottom: 1px solid var(--primary-orange);
  transition: all var(--transition-duration);
}

/* FOOTER */

footer {
  background: #fff;
  font-size: 0.7rem;
}
