/* ---- GLOBAL VARIABLES ----  */

:root {
  --primary-orange: #e95420;
  --secondary-bg-colour: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
}

/* ---- COMMON ----  */

h1 {
  margin: 60px auto;
  text-align: center;
  font-size: 160%;
  text-transform: uppercase;
}

h2 {
  font-size: 120%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* buttons */

.btn {
  border-radius: 200px;
}

/* horisontal line below H1 */
h1:after {
  display: block;
  height: 2px;
  background-color: var(--primary-orange);
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* ---- HEADER ----  */

header {
  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/landing-background.jpg"); */
  background-image: url("../images/landing-background-2.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
}

.btn-holder {
  position: absolute;
  top: 15rem;
  left: 7%;
}

/* ---- SERVICES ----  */

.service-header {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.service-tile i {
  display: block;
  font-size: 300%;
  margin: 30px 0;
  text-align: center;
}

.service-description {
  text-align: justify;
}

/* ---- PROJECTS ----  */

.section-projects {
  padding-top: 10px;
  background-color: var(--secondary-bg-colour);
}

.project-tile {
  width: 100%;
  padding: 3px;
}

.project-tile img {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* ---- TESTIMONIALS ----  */

.section-testimonials {
  padding-top: 10px;
  padding-left: 2%;
  background-image: linear-gradient(
      rgba(225, 225, 225, 0.4),
      rgba(225, 225, 225, 0.4)
    ),
    url("../images/testimoials-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* height: 100vh; */
}

.section-testimonials h1 {
  margin-bottom: 1rem;
}

.testimonial-plate {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote {
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/* increase contrast with background behind quote text on mobile */
@media (max-width: 799px) {
  .testimonial-plate {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.customer {
  vertical-align: middle;
  text-align: center;
}

.testimonial-plate img {
  border-radius: 50%;
  height: 3rem;
  margin-right: 0.5rem;
}

/* ---- CONTACTS ----  */

.section-contacts {
  padding-top: 60px;
  background-color: var(--secondary-bg-colour);
}

.section-contacts h1 {
  margin-top: 0;
}

.contact-tile h2 {
  text-transform: uppercase;
}

.contact-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  margin-bottom: 50px;
  line-height: 1.7rem;
  text-align: left;
}

.contact-tile img {
  width: 100%;
  height: auto;
}

.contact-tile a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--primary-orange);
  border-bottom: 1px solid #e67e22;
  transition: all 0.2s;
}
